
.DS_Store

genesis_generator_tool/processors/__pycache__/
genesis_generator_tool/__pycache__/

venv/

.idea/

.vscode/

takeoff_distribution/__pycache__/

gol_rewards/__pycache__/config.cpython-38.pyc

gol_rewards/utils/__pycache__/db.cpython-38.pyc

gol_rewards/utils/__pycache__/queries.cpython-38.pyc

gol_rewards/__pycache__/

*.pyc
