
.DS_Store
lifetime_rewards_tool/data/mongo
lifetime_rewards_tool/data/redis
cyber_address_converter/eth-pubkeys/

lifetime_rewards_tool/data/notebook/balances.csv

cosmos_gift_tool/__pycache__/

cosmos_gift_tool/data/cosmos_genesis_snapshot.json

ethereum_gift_tool/data/ethereum.csv

ethereum_gift_tool/google-big-query-key.json

cyber_address_converter/cosmos-address-tool

*.csv

cyber_address_converter/cyber

ethereum_gift_tool/__pycache__/

genesis_generator_tool/processors/__pycache__/

genesis_generator_tool/data/

genesis_generator_tool/__pycache__/

venv/

gen_txs/data/

.idea/

.vscode/

lifetime_rewards_tool/data/notebook/__pycache__/

urbit_gift_tool/data/

lifetime_rewards_tool/data/notebook/.ipynb_checkpoints/

urbit_gift_tool/__pycache__/

urbit_gift_tool/google-big-query-key.json

lifetime_rewards_tool/__pycache__/
